.idea
.vscode
environment_loop/
env/
build/
dist/
__pycache__/
*.py[cod]
*$py.class
QTable.csv
zerotradingcost_cost.png
zerotradingcost_qtable.pickle
docs/diagrams/ACME_DataSet.drawio

nn_model/

*.csv
*.pickle
*.xlsx
*.json
*.npy
Markets/presets/*
~/Desktop/MachineLearning/HedgingBox/Markets/presets/bsagent/Greek-Delta1hedge_pnl_measures.npy
